{% extends 'layouts/base.html' %}

{% block content %}

    <div class="seccion__nosotros-contenedor">
        <div class="info__tienda">
            <div class="info__tienda-titulo">
                <h2>Los Mejores distribuidores de Articulos de Oficina en todo México</h2><br>
                <p>En MerauderShop's somos fabricantes y distribuidores de articulos de oficina de excelente calidad, los escritorios y mesas son una de nuestras especialidades. Dentro de todo nuestro stock de articulos 
                contamos con diversos modelos, tamaños y colores de la más alta calidad, en un inventario listo para
                ser entregados sin mínimos en todo México. Además de poder pedir productos diseñados a tu gusto, como
                de las medidas solicitadas, etc.</p><br>
                <p>En MerauderShop's también contamos con representantes en 32 municipios de Nuevo León y un 
                inventario de 70 mil piezas listas para ser enviadas en cuanto la soliciten nuestros clientes; nos 
                enorgullecemos de vender comodidad a más de 500 mil trabajadores en todo México. </p><br>
            </div>
        </div>
    </div>
    
    <div class="seccion__aumento-contenedor">
        <div class="seccion__aumento">
            <h2>Mira Nuestras Estadísticas</h2>
            <p>En estos últimos años hemos estado aumentando nuestra productividad y nuestros planes de aqui a futuro en el 2026, lo que nos ha traido un aumento considerable en cuanto a ganancias en los 10 años de trayectoria que ya tenemos brindando comodidad y satisfacción a los clientes de todo México.</p>
            <img src="../static/Img/grafico.png" alt="grafico">
        </div>
    </div>

{% endblock %}